# OS ---------------------------------------------------------------------------
os: linux
dist: bionic

# meta -------------------------------------------------------------------------
language: r
r: 3.6.2
cache:
  - packages
  - ccache
latex: true

# environment variables --------------------------------------------------------
env:
  global:
    - MAKEFLAGS="-j 2"

# jobs -------------------------------------------------------------------------
before_install:
 - mkdir -p $R_LIBS_USER
 - cp -rf ./.app/R/{.Rprofile,.Renviron} ./
 - R -q -e
    '`%=%` <- function(key, value) paste0(key,"=",value);
     Renviron <- file(".Renviron", open = "wt");
     writeLines("R_PROFILE" %=% ".Rprofile", Renviron);
     close(Renviron)'
 - R -q -e 'tic::dsl_load(); tic::prepare_all_stages(); tic::before_install()'
install:
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then brew install ccache; fi
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then export PATH="/usr/local/opt/ccache/libexec:$PATH"; fi
  - R -q -e 'tic::install()'
before_script: R -q -e 'tic::before_script()'
script: R -q -e 'tic::script()'
after_success: R -q -e 'tic::after_success()'
after_failure: R -q -e 'tic::after_failure()'
before_deploy: R -q -e 'tic::before_deploy()'
deploy:
  provider: script
  script: R -q -e 'tic::deploy()'
  on:
    all_branches: true
after_deploy: R -q -e 'tic::after_deploy()'
after_script: R -q -e 'tic::after_script()'
